.col-border {
  text-align: center;
  padding: 10%;
  min-height: 300px;
}

.navbar {
  margin: 0;
}

ul {
  list-style: none;
  text-align: center;
  padding: 0;
}

.hideme {
  display: none;
}

.side-bar {
  background-color: grey;
  float: right;
  height: 500px;
  width: 200px;
  display: none;
  margin-left: 10px;
}

.side-bar-button {
  float:right;
}

.footer {
  height: 100px;
  width: 100%;
  background-color: black;
  color: white;
}
